<!--
  Generated template for the AddMediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Media</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formGroup">

    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title" [(ngModel)]="mediaItem.title"></ion-input>
      </ion-item>
      <div ion-text color="danger" class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.title">
          <div class="error-message" *ngIf="formGroup.get('title').hasError(validation.type) && (formGroup.get('title').dirty || formGroup.get('title').touched)">
            {{  validation.message  }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>URL</ion-label>
        <ion-input type="url" formControlName="url" [(ngModel)]="mediaItem.url"></ion-input>
      </ion-item>
      <div ion-text color="danger" class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.url">
          <div class="error-message" color="danger" *ngIf="formGroup.get('url').hasError(validation.type) && (formGroup.get('url').dirty || formGroup.get('url').touched)">
            {{  validation.message  }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="textarea" color="danger" formControlName="descript" [(ngModel)]="mediaItem.descript"></ion-input>
      </ion-item>
      <div ion-text color="danger" class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.descript">
          <div class="error-message" color="danger" *ngIf="formGroup.get('descript').hasError(validation.type) && (formGroup.get('descript').dirty || formGroup.get('descript').touched)">
            {{  validation.message  }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Thumbnail</ion-label>
        <ion-input type="url" formControlName="thmbnl_url" [(ngModel)]="mediaItem.thmbnl_url"></ion-input>
      </ion-item>
      <div ion-text color="danger" class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.thmbnl_url">
          <div class="error-message" color="danger" *ngIf="formGroup.get('thmbnl_url').hasError(validation.type) && (formGroup.get('thmbnl_url').dirty || formGroup.get('thmbnl_url').touched)">
            {{  validation.message  }}
          </div>
        </ng-container>
      </div>

    </ion-list>
    <button ion-button block [disabled]="formGroup.invalid" (click)="addMediaItem(mediaItem)">Add Media</button>
  </form>

</ion-content>
