page-media-board {
  img {
    display: block;
    //margin-left: auto;
  //  margin-right: auto;
    border:1px solid #021a40;
    max-width: 99%;
    max-height: 99%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .center {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
  }
  .left {
    display: block;
    text-align: left;
    margin-left: 0%;
    word-wrap: break-word;
  }
  .logo {
    border: 0px;
    max-width: 50px;
    max-height: 50px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .align-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .wrapper {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
